<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="url"
			value="jdbc:sqlserver://localhost:1433;databaseName=JAVAWEB;encrypt=true;trustServerCertificate=true" />
		<property name="username" value="sa" />
		<property name="password" value="123@ace" />
	</bean>

	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
   
   <bean id = "employeeDAO" class = "com.spring.xmlconfig.dao.EmployeeDAOImpl">
   <property name ='jdbcTemplate' ref = "jdbcTemplate"/>
   </bean>
   
   <bean id = "employeeService" class = "com.spring.xmlconfig.service.EmployeeServiceImpl">
       <property name="employeeDAO" ref ="employeeDAO"/>
   </bean>
   
   <bean id = "employeeController" class = "com.spring.xmlconfig.controller.EmployeeController">
       <property name="employeeService" ref="employeeService" />
   </bean>
   
	<bean id="manager" class="spring.xmlconfig.example.Manager">
	</bean>
	<bean id="accountant" class="spring.xmlconfig.example.Accountant">
	</bean>
</beans>